<app-page-heading [pageTitle]="'Account'"></app-page-heading>

@if (loggedAccount$ | async; as loggedAccount) {
<mat-card class="account info">
    <mat-card-header class="info">
        <img mat-card-avatar mat-card-sm-image [src]="loggedAccount.avatar" alt="">
    </mat-card-header>
    <mat-card-content class="info">
        <h5>{{ loggedAccount.firstName + loggedAccount.lastName }}</h5>
        <p>{{ loggedAccount.city}} {{loggedAccount.state}}</p>
        <p>{{ loggedAccount.timezone }}</p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button matButton type="button" class="info">Upload picture</button>
    </mat-card-actions>
</mat-card>
<mat-card class="account form">
    <mat-card-header class="form">
        <mat-card-title-group>
            <mat-card-title>Profile</mat-card-title>
            <mat-card-subtitle>The information can be edited</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="form">
        <form>
            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput [value]="loggedAccount.firstName" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Last name</mat-label>
                <input matInput [value]="loggedAccount.lastName" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email address</mat-label>
                <input matInput type="email" [value]="loggedAccount.email" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Phone number</mat-label>
                <input matInput type="text" [value]="loggedAccount.phoneNumber">
            </mat-form-field>

            <mat-form-field floatLabel="always">
                <mat-label>State</mat-label>
                <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}"
                    [placeholder]="loggedAccount.state">
                    @for (state of states; track state) {
                    <mat-option [value]="states">
                        {{ state }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput [value]="loggedAccount.city">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="form">
        <button matButton="filled" type="button" class="form">Save details</button>
    </mat-card-actions>
</mat-card>
}