.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: calc(var(--mat-header-spacing) * 3) calc(var(--mat-header-spacing) * 3);
  min-width: 0;

  mat-card.account {
    height: fit-content;

    & mat-card-header.info {
      padding: 32px 0 calc(var(--mat-header-spacing) * 2) 0;

      & img[mat-card-avatar][mat-card-sm-image] {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin: 0 auto;
      }
    }
    & mat-card-header.form {
      padding: 32px 24px 16px;
    }
    & mat-card-content.info {
      display: flex;
      flex-direction: column;
      gap: var(--mat-header-spacing);
      padding-bottom: 32px;
      text-align: center;

      & h5 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        margin: 0;
      }
      & p {
        color: #667085;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.57;
      }
    }
    & mat-card-content.form {
      padding: 32px 24px;

      & > form {
        display: grid;
        gap: 0 calc(var(--mat-header-spacing) * 3);
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, calc(50% - calc(var(--mat-header-spacing) * 3)));

        & > mat-form-field {
          height: fit-content;
        }
      }
    }
    & mat-card-actions {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      & > button.account[matButton] {
        width: 100%;
      }
    }
    &.info {
      flex-basis: auto;
      flex-grow: 0;
      width: calc(100% * 4 / 12 - (12 - 4) * (calc(var(--mat-header-spacing) * 3)) / 12);
    }
    &.form {
      flex-basis: auto;
      flex-grow: 0;
      width: calc(100% * 8 / 12 - (12 - 8) * (calc(var(--mat-header-spacing) * 3)) / 12);
    }
  }
}
