<mat-card class="overview overview-card">
    <mat-card-content>
        <div class="overview-icon">
            <mat-icon svgIcon="ph-light:currency-dollar"></mat-icon>
        </div>
        <div class="title-group">
            <mat-card-title>{{ '$' + valueFormatter(budget.current) }}</mat-card-title>
            <mat-card-subtitle>Budget</mat-card-subtitle>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <div [class]="budgetPercent > 0 ? 'stats positive' : 'stats negative'">
            @if (budgetPercent > 0) {
            <mat-icon svgIcon="ph-light:arrow-up"></mat-icon>
            } @else {
            <mat-icon svgIcon="ph-light:arrow-down"></mat-icon>
            }
            <p>{{ budgetPercent + '%' }}</p>
        </div>
        <span>Since last month</span>
    </mat-card-footer>
</mat-card>

<mat-card class="overview overview-card">
    <mat-card-content>
        <div class="overview-icon">
            <mat-icon svgIcon="ph-light:users"></mat-icon>
        </div>
        <div class="title-group">
            <mat-card-title>{{ valueFormatter(totalCustomers.current) }}</mat-card-title>
            <mat-card-subtitle>Total Customers</mat-card-subtitle>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <div [class]="totalCustomersPercent > 0 ? 'stats positive' : 'stats negative'">
            @if (totalCustomersPercent > 0) {
            <mat-icon svgIcon="ph-light:arrow-up"></mat-icon>
            } @else {
            <mat-icon svgIcon="ph-light:arrow-down"></mat-icon>
            }
            <p>{{ totalCustomersPercent + '%'}}</p>
        </div>
        <span>Since last month</span>
    </mat-card-footer>
</mat-card>

<mat-card class="overview overview-card">
    <mat-card-content>
        <div class="overview-icon">
            <mat-icon svgIcon="ph-light:list-bullets"></mat-icon>
        </div>
        <div class="title-group">
            <mat-card-title>{{ taskProgress + '%' }}</mat-card-title>
            <mat-card-subtitle>Task Progress</mat-card-subtitle>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar mode="determinate" [value]="taskProgress"></mat-progress-bar>
    </mat-card-footer>
</mat-card>

<mat-card class="overview overview-card">
    <mat-card-content>
        <div class="overview-icon">
            <mat-icon svgIcon="ph-light:receipt"></mat-icon>
        </div>
        <div class="title-group">
            <mat-card-title>{{ '$' + valueFormatter(totalProfit) }}</mat-card-title>
            <mat-card-subtitle>Total Profit</mat-card-subtitle>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="overview">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Sales</mat-card-title>
            <button matButton type="button" class="overview-actions">
                <mat-icon svgIcon="ph-light:arrow-clockwise" style="font-size: 0;"></mat-icon>
                <span>Sync</span>
            </button>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <app-bar-chart [valueFormatter]="valueFormatter" [salesInfo]="salesInfo"></app-bar-chart>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button matButton type="button" class="overview-actions">
            <span>Overview</span>
            <mat-icon svgIcon="ph-light:arrow-right" style="font-size: 0;"></mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="overview">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Traffic source</mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <app-donut-chart [trafficSource]="trafficSource"></app-donut-chart>
        <div class="legend">
            <mat-card-title-group class="legend-item">
                <mat-icon svgIcon="ph-light:desktop"></mat-icon>
                <mat-card-title>Desktop</mat-card-title>
                <mat-card-subtitle>{{ trafficSource.desktop + '%' }}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-title-group class="legend-item">
                <mat-icon svgIcon="ph-light:device-tablet"></mat-icon>
                <mat-card-title>Tablet</mat-card-title>
                <mat-card-subtitle>{{ trafficSource.tablet + '%' }}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-title-group class="legend-item">
                <mat-icon svgIcon="ph-light:phone"></mat-icon>
                <mat-card-title>Phone</mat-card-title>
                <mat-card-subtitle>{{ trafficSource.phone + '%' }}</mat-card-subtitle>
            </mat-card-title-group>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="overview">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Latest products</mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        @if (latestProducts$ | async; as latestProducts) {
        <mat-list>
            @for (product of latestProducts; track product) {
            <mat-list-item>
                <img matListItemAvatar [src]="product.picture" alt="" />
                <span matListItemTitle>{{ product.name }}</span>
                <span matListItemLine>{{ 'Updated' }} {{ product.updatedAt| date: 'mediumDate' }}</span>
                <div matListItemMeta>
                    <button matIconButton type="button">
                        <mat-icon svgIcon="ph-light:dots-three-vertical"></mat-icon>
                    </button>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            }
        </mat-list>
        }
    </mat-card-content>
    <mat-card-actions>
        <button matButton type="button" class="overview-actions">
            <span>View all</span>
            <mat-icon svgIcon="ph-light:arrow-right" style="font-size: 0;"></mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="overview">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Latest orders</mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource">
            @for (column of columns; track column) {
            <ng-container [matColumnDef]="column.columnDef">
                <th mat-header-cell *matHeaderCellDef>
                    {{column.header}}
                </th>
                <td mat-cell *matCellDef="let row">
                    @if (column.header === 'Date') {
                    {{column.cell(row) | date: 'mediumDate'}}
                    } @else if (column.header === 'Status') {
                    <mat-chip [ngClass]="column.cell(row).toLowerCase()">
                        {{column.cell(row)}}
                    </mat-chip>
                    }
                    @else {
                    {{column.cell(row)}}
                    }
                </td>
            </ng-container>
            }
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button matButton type="button" class="overview-actions">
            <span>View all</span>
            <mat-icon svgIcon="ph-light:arrow-right" style="font-size: 0;"></mat-icon>
        </button>
    </mat-card-actions>
</mat-card>