<nav>
    <ul>
        <li><a href="" class="active">
                <mat-icon class="sidebar-icon" svgIcon="ph-fill:chart-pie"></mat-icon>
                <span>Overview</span>
            </a>
        </li>
        <li>
            <a href="">
                <mat-icon class="sidebar-icon" svgIcon="ph-light:users"></mat-icon>
                <span>Customers</span>
            </a>
        </li>
        <li>
            <a href="">
                <mat-icon class="sidebar-icon" svgIcon="ph-light:plugs-connected"></mat-icon>
                <span>Integrations</span>
            </a>
        </li>
        <li>
            <a href="">
                <mat-icon class="sidebar-icon" svgIcon="ph-light:gear-six"></mat-icon>
                <span>Settings</span>
            </a>
        </li>
        <li>
            <a href="">
                <mat-icon class="sidebar-icon" svgIcon="ph-light:user"></mat-icon>
                <span>Account</span>
            </a>
        </li>
    </ul>
</nav>