mat-toolbar.sidebar {
  padding: 0;

  a.dashboard-logo {
    background-color: var(--mat-sidenav-container-background-color);
    color: #ffffff;
    display: flex;
    gap: calc(2 * var(--mat-standard-spacing));
    height: 64px;

    place-content: center;
    place-items: center;
    text-decoration: none;
    width: var(--mat-sidenav-container-width);

    & mat-icon.header-icon {
      height: 32px;
      width: 32px;
    }
    & h6 {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.2;
    }
  }
}

mat-divider.sidebar {
  background-color: #434a60;
  border: none;
  height: 1px;
}

nav {
  padding: 12px 11px 12px 12px;

  & mat-nav-list {
    display: flex;
    flex-direction: column;
    gap: var(--mat-standard-spacing);
    list-style: none;
    margin: 0;
    padding: 0;

    & a[mat-list-item] {
      border-radius: var(--mat-standard-spacing);

      &.active {
        background-color: #635bff;
        color: white;
      }

      & mat-icon.sidebar-icon {
        padding-bottom: 4px;
      }
    }
  }
}
