<mat-toolbar class="sidebar">
    <a class="dashboard-logo" routerLink="/overview">
        <mat-icon class="header-icon" svgIcon="ph-regular:speedometer"></mat-icon>
        <h6>Dashboard Project</h6>
    </a>
</mat-toolbar>

<mat-divider class="sidebar"></mat-divider>

<nav>
    <mat-nav-list>
        @for (page of pagesLinks; track page) {
        <a mat-list-item (click)="$event.preventDefault(); activeLink=page.route;"
            [activated]="activeLink === page.route" [routerLink]="page.route" routerLinkActive="active"
            #rla="routerLinkActive">
            <mat-icon matListItemIcon class="sidebar-icon"
                svgIcon="{{ rla.isActive ? page.iconActive : page.icon }}"></mat-icon>
            <span matListItemTitle>{{ page.name }}</span>
        </a>
        }
    </mat-nav-list>
</nav>