@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.04), 0 0 0 1px rgba(0, 0, 0, 0.06);
  --mat-standard-spacing: 8px;
  --mat-sidenav-container-background-color: #121621;
  --mat-sidenav-container-text-color: #b3b9c6;
  --mat-sidenav-container-width: 280px;
  --grid-columns: 12;
  --grid-column-spacing: calc(3 * var(--mat-standard-spacing));
}

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: 'Inter',
      density: 0,
    )
  );

  @include mat.sidenav-overrides(
    (
      container-background-color: white,
      content-background-color: white,
    )
  );

  @include mat.menu-overrides(
    (
      container-color: #ffffff,
      container-shape: 8px,
      container-elevation-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08),
      item-label-text-size: 1rem,
      item-label-text-weight: 400,
      item-icon-size: 20px,
      item-label-text-line-height: 24px,
      item-spacing: 16px,
      item-with-icon-leading-spacing: 16px,
      item-with-icon-trailing-spacing: 16px,
    )
  );

  mat-nav-list a[mat-list-item].active {
    @include mat.list-overrides(
      (
        list-item-label-text-color: white,
        list-item-hover-label-text-color: white,
        list-item-hover-leading-icon-color: white,
        list-item-leading-icon-color: white,
      )
    );
  }

  mat-card.overview > mat-card-content > mat-list > mat-list-item > span:first-of-type {
    @include mat.list-overrides(
      (
        list-item-label-text-color: #212636,
        list-item-label-text-size: 1rem,
        list-item-label-text-line-height: 1.57,
        list-item-hover-label-text-color: #212636,
      )
    );
  }

  nav > mat-nav-list {
    @include mat.list-overrides(
      (
        list-item-label-text-color: #b3b9c6,
        list-item-hover-label-text-color: #b3b9c6,
      )
    );
  }

  @include mat.list-overrides(
    (
      active-indicator-color: transparent,
      list-item-label-text-line-height: 28px,
      list-item-label-text-size: 0.875rem,
      list-item-label-text-weight: 500,
      list-item-label-text-tracking: 0,
      list-item-supporting-text-tracking: 0,
      list-item-focus-label-text-color: white,
      list-item-one-line-container-height: 40px,
      list-item-two-line-container-height: 76.1px,
      list-item-leading-icon-start-space: 16px,
      list-item-leading-icon-end-space: 8px,
      list-item-leading-icon-color: #b3b9c6,
      list-item-leading-icon-size: 20px,
      list-item-supporting-text-color: #667085,
      list-item-supporting-text-line-height: 1.57,
      list-item-trailing-icon-size: 24px,
      list-item-leading-avatar-shape: 8px,
      list-item-leading-avatar-size: 48px,
    )
  );

  @include mat.card-overrides(
    (
      outlined-container-color: white,
      outlined-container-elevation: var(--box-shadow),
      outlined-container-shape: 20px,
      outlined-outline-color: #ebebeb,
      outlined-outline-width: 0,
      subtitle-text-color: #667085,
      subtitle-text-line-height: 1.57,
      subtitle-text-size: 0.875rem,
      subtitle-text-tracking: 0,
      subtitle-text-weight: 400,
      title-text-line-height: 1.2,
      title-text-size: 1.125rem,
      title-text-weight: 500,
    )
  );

  @include mat.form-field-overrides(
    (
      container-text-tracking: 0,
      leading-icon-color: rgba(0, 0, 0, 0.54),
      outlined-container-shape: 8px,
      outlined-focus-label-text-color: #635bff,
      outlined-focus-outline-color: #635bff,
      outlined-input-text-placeholder-color: #667085,
      outlined-hover-label-text-color: #667085,
      outlined-label-text-color: #667085,
      outlined-outline-color: #b3b9c6,
    )
  );

  @include mat.select-overrides(
    (
      panel-background-color: white,
      trigger-text-tracking: 0,
    )
  );

  @include mat.checkbox-overrides(
    (
      label-text-color: #212636,
      label-text-line-height: 1.5,
      label-text-size: 16px,
      label-text-tracking: 0,
      selected-focus-icon-color: #635bff,
      selected-hover-icon-color: #635bff,
      selected-icon-color: #635bff,
      selected-pressed-icon-color: #635bff,
      state-layer-size: 42px,
    )
  );

  mat-paginator {
    @include mat.icon-button-overrides(
      (
        icon-size: 18px,
        state-layer-size: 26px,
        touch-target-size: 26px,
      )
    );
  }

  @include mat.button-overrides(
    (
      filled-container-color: #635bff,
      filled-container-height: 40.5px,
      filled-container-shape: 12px,
      filled-horizontal-padding: 20px,
      filled-label-text-tracking: 0,
      text-container-height: 42.5px,
      text-container-shape: 12px,
      text-label-text-color: #635bff,
      text-hover-state-layer-opacity: 0.04,
      text-pressed-state-layer-opacity: 0.04,
      text-state-layer-color: rgb(33, 38, 54),
    )
  );

  @include mat.paginator-overrides(
    (
      container-background-color: transparent,
      container-text-line-height: 1.57,
      container-text-size: 0.875rem,
      container-text-tracking: 0,
    )
  );
}

@include mat.table-overrides(
  (
    background-color: white,
    header-container-height: 100%,
    header-headline-color: #667085,
    header-headline-line-height: 1,
    header-headline-tracking: 0,
    row-item-label-text-line-height: 1,
    row-item-label-text-tracking: 0,
    row-item-outline-color: #ebebeb,
  )
);

@include mat.progress-bar-overrides(
  (
    active-indicator-color: #635bff,
    track-color: rgb(195, 192, 255),
  )
);

.delivered {
  @include mat.chips-overrides(
    (
      elevated-container-color: #15b79f,
    )
  );
}

.pending {
  @include mat.chips-overrides(
    (
      elevated-container-color: #fb9c0c,
    )
  );
}

.refunded {
  @include mat.chips-overrides(
    (
      elevated-container-color: #f04438,
    )
  );
}

@include mat.chips-overrides(
  (
    container-shape-radius: 16px,
    container-height: 24px,
    label-text-size: 0.8125rem,
    outline-width: 0,
    label-text-color: white,
    label-text-weight: 400,
  )
);

body {
  background-color: white;
  color: #212636;
  color-scheme: light;
  font: var(--mat-sys-body-medium);
  font-optical-sizing: none;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
}

@media (min-width: 1440px) {
  main {
    max-width: 1440px;
  }
}

@media (min-width: 1200px) {
  app-overview {
    & > mat-card.overview-card:nth-child(-n + 4) {
      width: calc(
        100% * (3 / var(--grid-columns)) - (var(--grid-columns) - 3) *
          (var(--grid-column-spacing) / var(--grid-columns))
      ) !important;
    }

    & > mat-card.overview:nth-child(5),
    & > mat-card.overview:nth-child(8) {
      width: calc(
        100% * (8 / var(--grid-columns)) - (var(--grid-columns) - 8) *
          (var(--grid-column-spacing) / var(--grid-columns))
      ) !important;
    }

    & > mat-card.overview:nth-child(6),
    & > mat-card.overview:nth-child(7) {
      width: calc(
        100% * (4 / var(--grid-columns)) - (var(--grid-columns) - 4) *
          (var(--grid-column-spacing) / var(--grid-columns))
      ) !important;
    }
  }
}

@media (min-width: 600px) {
  app-overview > mat-card.overview-card:nth-child(-n + 4) {
    width: calc(
      100% * (6 / var(--grid-columns)) - (var(--grid-columns) - 6) *
        (var(--grid-column-spacing) / var(--grid-columns))
    );
  }
}

main {
  box-sizing: border-box;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 64px calc(3 * var(--mat-standard-spacing));
  width: 100%;
}

p {
  margin: 0;
}

app-account,
app-customers,
app-integrations,
app-overview,
app-settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(var(--mat-standard-spacing) * 3);
  min-width: 0;
}

app-page-heading {
  display: flex;
  flex-direction: column;
  gap: var(--mat-standard-spacing);
  min-width: 0;
  width: 100%;

  & > h4.page-heading,
  & > header.complex-heading > h4.page-heading {
    color: #212636;
    display: block;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
  }
}

app-search-box,
mat-card {
  width: 100%;
}

mat-sidenav-container.dashboard-container {
  height: 100%;

  & mat-sidenav {
    border-radius: 0px;
    width: var(--mat-sidenav-container-width);
  }

  & mat-divider.header {
    position: sticky;
    top: 64px;
    z-index: 2;
  }
}

mat-divider {
  border-color: #dcdfe4 !important;
}

mat-card-actions:has(> button[matButton='filled']),
mat-card-actions:has(> button[matButton].overview-actions) {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

mat-card.search-box mat-form-field {
  @include mat.form-field-overrides(
    (
      outlined-input-text-placeholder-color: rgb(33, 38, 54, 0.42),
    )
  );
}

section.complex-buttons > button[matButton],
button[matButton].overview-actions {
  @include mat.button-overrides(
    (
      text-label-text-color: #212636,
    )
  );
}

button[matButton].overview-actions {
  display: inline-flex;
  flex-direction: row-reverse;

  @include mat.button-overrides(
    (
      text-container-height: 36.75px,
      text-icon-spacing: -2px,
      text-icon-offset: var(--mat-standard-spacing),
      text-with-icon-horizontal-padding: 12px,
      text-label-text-size: 0.8125rem,
    )
  );
}

section.integrations-cards > mat-card.integrations.integration-card {
  @include mat.card-overrides(
    (
      title-text-size: 1.5rem,
    )
  );
}

app-customers {
  & table[mat-table] {
    @include mat.checkbox-overrides(
      (
        unselected-focus-icon-color: #667085,
        unselected-hover-icon-color: #667085,
        unselected-icon-color: #667085,
      )
    );
  }

  & mat-paginator {
    @include mat.icon-button-overrides(
      (
        icon-size: 24px,
      )
    );
  }
}

mat-card > mat-card-header {
  padding: 32px 24px 16px !important;

  & > mat-card-title-group {
    align-items: center;
  }
}

mat-card > mat-card-content:not(> mat-list),
mat-card > mat-card-content:not(> table) {
  padding: 32px 24px !important;
}

mat-card.overview > mat-card-content:has(> mat-list),
mat-card.overview > mat-card-content:has(> table) {
  padding: 0;
  overflow: auto;

  & > mat-list {
    padding: 0px;
  }

  & > table th[mat-header-cell]:first-child,
  & > table th[mat-header-cell]:last-child {
    border-radius: 0;
  }
}

table[mat-table] {
  background-color: transparent;
  border-bottom: thin solid #ebebeb;
  border-collapse: collapse;
  min-width: 800px;
  width: 100%;

  & th[mat-header-cell].select,
  & td[mat-cell].select {
    padding: 0 0 0 24px;
  }
  & th[mat-header-cell] {
    background-color: #f9fafb;
    padding: 16px;

    &:first-child {
      border-radius: 20px 0 0 0;
    }
    &:last-child {
      border-radius: 0 20px 0 0;
    }
  }
  & td[mat-cell] {
    padding: 16px;

    &:last-child {
      white-space: nowrap;
    }

    & > div.complex-cell {
      align-items: center;
      display: flex;
      font-weight: 500;
      gap: calc(2 * var(--mat-standard-spacing));

      & > img[mat-card-avatar] {
        margin-bottom: 0;
      }
    }
  }
  & tr[mat-row] {
    &:active {
      background-color: #ecebff;
    }
    &:hover {
      background-color: #f5f5f5;
    }
  }
}

app-overview {
  display: flex;
  flex-wrap: wrap;

  & > mat-card.overview-card {
    width: calc(
      100% * (12 / var(--grid-columns)) - (var(--grid-columns) - 12) *
        (var(--grid-column-spacing) / var(--grid-columns))
    );
  }
}
