// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --mat-header-spacing: 8px;
  --mat-sidenav-container-background-color: #121621;
  --mat-sidenav-container-text-color: #b3b9c6;
  --mat-sidenav-container-width: 280px;
}

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: 'Inter',
      density: 0,
    )
  );

  @include mat.menu-overrides(
    (
      container-color: #ffffff,
      container-shape: 8px,
      container-elevation-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08),
      item-label-text-size: 1rem,
      item-label-text-weight: 400,
      item-icon-size: 20px,
      item-label-text-line-height: 24px,
      item-spacing: 16px,
      item-with-icon-leading-spacing: 16px,
      item-with-icon-trailing-spacing: 16px,
    )
  );

  @include mat.card-overrides(
    (
      outlined-container-elevation: 0 5px 22px 0 rgba(0, 0, 0, 0.04),
      outlined-container-shape: 20px,
      outlined-outline-color: #ebebeb,
      subtitle-text-color: #667085,
      subtitle-text-line-height: 1.57,
      subtitle-text-size: 0.875rem,
      subtitle-text-weight: 400,
      title-text-line-height: 1.2,
      title-text-size: 1.125rem,
      title-text-weight: 500,
    )
  );

  @include mat.form-field-overrides(
    (
      container-text-tracking: 0,
      outlined-container-shape: 8px,
      outlined-hover-label-text-color: #667085,
      outlined-label-text-color: #667085,
      outlined-outline-color: #b3b9c6,
    )
  );

  @include mat.select-overrides(
    (
      panel-background-color: white,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-color: #635bff,
      filled-container-shape: 12px,
      text-label-text-color: #635bff,
      text-container-shape: 12px,
    )
  );
}

body {
  background-color: white;
  color: #212636;
  color-scheme: light;
  font: var(--mat-sys-body-medium);
  font-optical-sizing: none;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

main {
  box-sizing: border-box;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px;
  padding-left: calc(3 * var(--mat-header-spacing));
  padding-right: calc(3 * var(--mat-header-spacing));
  padding-top: 64px;
  width: 100%;
}

p {
  margin: 0;
}

h4.page-heading {
  color: #212636;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 calc(3 * var(--mat-header-spacing)) 0;
}

mat-divider {
  border-color: #dcdfe4 !important;
}
