@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.04);
  --mat-header-spacing: 8px;
  --mat-sidenav-container-background-color: #121621;
  --mat-sidenav-container-text-color: #b3b9c6;
  --mat-sidenav-container-width: 280px;
}

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: 'Inter',
      density: 0,
    )
  );

  @include mat.sidenav-overrides(
    (
      container-background-color: white,
      content-background-color: white,
    )
  );

  @include mat.menu-overrides(
    (
      container-color: #ffffff,
      container-shape: 8px,
      container-elevation-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08),
      item-label-text-size: 1rem,
      item-label-text-weight: 400,
      item-icon-size: 20px,
      item-label-text-line-height: 24px,
      item-spacing: 16px,
      item-with-icon-leading-spacing: 16px,
      item-with-icon-trailing-spacing: 16px,
    )
  );

  @include mat.card-overrides(
    (
      outlined-container-color: white,
      outlined-container-elevation: var(--box-shadow),
      outlined-container-shape: 20px,
      outlined-outline-color: #ebebeb,
      subtitle-text-color: #667085,
      subtitle-text-line-height: 1.57,
      subtitle-text-size: 0.875rem,
      subtitle-text-tracking: 0,
      subtitle-text-weight: 400,
      title-text-line-height: 1.2,
      title-text-size: 1.125rem,
      title-text-weight: 500,
    )
  );

  @include mat.form-field-overrides(
    (
      container-text-tracking: 0,
      leading-icon-color: rgba(0, 0, 0, 0.54),
      outlined-container-shape: 8px,
      outlined-focus-label-text-color: #635bff,
      outlined-focus-outline-color: #635bff,
      outlined-input-text-placeholder-color: #667085,
      outlined-hover-label-text-color: #667085,
      outlined-label-text-color: #667085,
      outlined-outline-color: #b3b9c6,
    )
  );

  @include mat.select-overrides(
    (
      panel-background-color: white,
      trigger-text-tracking: 0,
    )
  );

  @include mat.checkbox-overrides(
    (
      label-text-color: #212636,
      label-text-line-height: 1.5,
      label-text-size: 16px,
      label-text-tracking: 0,
      selected-focus-icon-color: #635bff,
      selected-hover-icon-color: #635bff,
      selected-icon-color: #635bff,
      selected-pressed-icon-color: #635bff,
      state-layer-size: 42px,
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-size: 18px,
      state-layer-size: 26px,
      touch-target-size: 26px,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-color: #635bff,
      filled-container-height: 42.5px,
      filled-container-shape: 12px,
      filled-horizontal-padding: 20px,
      filled-label-text-tracking: 0,
      text-container-height: 42.5px,
      text-container-shape: 12px,
      text-label-text-color: #635bff,
      text-hover-state-layer-opacity: 0.04,
      text-pressed-state-layer-opacity: 0.04,
      text-state-layer-color: rgb(33, 38, 54),
    )
  );

  @include mat.paginator-overrides(
    (
      container-background-color: transparent,
      container-text-line-height: 1.57,
      container-text-size: 0.875rem,
      container-text-tracking: 0,
    )
  );
}

@include mat.table-overrides(
  (
    background-color: white,
    header-container-height: 100%,
    header-headline-color: #667085,
    header-headline-line-height: 1,
    header-headline-tracking: 0,
    row-item-label-text-line-height: 1,
    row-item-label-text-tracking: 0,
    row-item-outline-color: #ebebeb,
  )
);

@include mat.progress-bar-overrides(
  (
    active-indicator-color: #635bff,
    track-color: rgb(195, 192, 255),
  )
);

body {
  background-color: white;
  color: #212636;
  color-scheme: light;
  font: var(--mat-sys-body-medium);
  font-optical-sizing: none;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
}

main {
  box-sizing: border-box;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 62px calc(3 * var(--mat-header-spacing)) 64px calc((3 * var(--mat-header-spacing)) - 1px);
  width: 100%;
}

p {
  margin: 0;
}

@media (max-width: 1200px) {
  app-account {
    flex-wrap: wrap !important;

    & mat-card.account.info {
      width: 100% !important;
    }

    & mat-card.account.form {
      width: 100% !important;
    }
  }
}

app-account,
app-customers,
app-integrations,
app-overview,
app-settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(var(--mat-header-spacing) * 3 - 2px) calc((var(--mat-header-spacing) * 3) - 2px);
  min-width: 0;
}

app-page-heading {
  display: flex;
  flex-direction: column;
  gap: var(--mat-header-spacing);
  min-width: 0;
  width: 100%;

  & > h4.h4,
  & > section.complex-heading > h4.h4 {
    color: #212636;
    display: block;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding: 1px 0 0 1px;
  }
}

app-search-box,
mat-card[appearance='outlined']:not(.account) {
  width: 100%;
}

mat-sidenav-container.dashboard-container {
  height: 100%;

  & mat-sidenav {
    border-radius: 0px;
    width: var(--mat-sidenav-container-width);
  }

  & mat-divider.header {
    position: sticky;
    top: 64px;
    z-index: 2;
  }
}

mat-divider {
  border-color: #dcdfe4 !important;
}

mat-card-actions:has(> button[matButton='filled']),
mat-card-actions:has(> button[matButton].overview-actions) {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

mat-card.search-box mat-form-field {
  @include mat.form-field-overrides(
    (
      outlined-input-text-placeholder-color: rgb(33, 38, 54, 0.42),
    )
  );
}

section.complex-buttons > button[matButton],
button[matButton].overview-actions {
  @include mat.button-overrides(
    (
      text-label-text-color: #212636,
    )
  );
}

button[matButton].overview-actions {
  @include mat.button-overrides(
    (
      text-container-height: 36.75px,
      text-with-icon-horizontal-padding: 12px,
      text-label-text-size: 0.8125rem,
    )
  );
}

div.integrations-cards > mat-card[appearance='outlined'].integrations.integration-card {
  @include mat.card-overrides(
    (
      title-text-size: 1.5rem,
    )
  );
}

app-customers {
  & table[mat-table] {
    @include mat.checkbox-overrides(
      (
        unselected-focus-icon-color: #667085,
        unselected-hover-icon-color: #667085,
        unselected-icon-color: #667085,
      )
    );
  }

  & mat-paginator {
    @include mat.icon-button-overrides(
      (
        icon-size: 24px,
      )
    );
  }
}

mat-card[appearance='outlined'] > mat-card-header {
  padding: 32px 24px 16px;

  & > mat-card-title-group {
    align-items: center;
  }
}

mat-card[appearance='outlined'] > mat-card-content {
  padding: 32px 24px;
}
