// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --mat-header-spacing: 8px;
  --mat-sidenav-container-background-color: #121621;
  --mat-sidenav-container-text-color: #b3b9c6;
  --mat-sidenav-container-width: 280px;
}

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Inter,
      density: 0,
    )
  );

  @include mat.menu-overrides(
    (
      container-color: #ffffff,
      container-shape: 8px,
      container-elevation-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08),
    )
  );
}

body {
  background-color: var(--mat-sys-surface);
  color: #212636;
  color-scheme: light;
  font: var(--mat-sys-body-medium);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
  margin: 0;
}

main {
  width: 100%;
  height: fit-content;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  padding-left: calc(3 * var(--mat-header-spacing));
  padding-right: calc(3 * var(--mat-header-spacing));
  padding-top: 64px;
  padding-bottom: 64px;
}

p {
  margin: 0;
}
