.menu-avatar {
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  object-fit: cover;
  user-select: none;
  width: 40px;
}
hgroup {
  padding: 8px 20px;
  width: 200px;

  h6.user-name {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.57;
    margin: 0;
  }
  p.user-email {
    color: #667085;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.57;
  }
}
button.menu-button[mat-menu-item] {
  align-items: center;
  border-radius: var(--mat-standard-spacing);
  display: flex;
  justify-content: flex-start;
  margin: 0 8px;
  min-height: auto;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  padding: 6px 16px;
  width: calc(100% - 16px);

  & .menu-icon {
    color: rgba(0, 0, 0, 0.54);
    display: inline-flex;
    flex-shrink: 0;
  }
}
