<img [src]="loggedAccount.imgSrc" [alt]="loggedAccount.imgAlt" [matMenuTriggerFor]="menu" class="menu-avatar"
    (click)="onClickingAvatar()">
<mat-menu class="user-menu" #menu="matMenu">
    <hgroup>
        <h6 class="user-name">{{ loggedAccount.firstName }} {{ loggedAccount.lastName }}</h6>
        <p class="user-email">{{ loggedAccount.email }}</p>
    </hgroup>
    <mat-divider></mat-divider>
    <button routerLink="/settings" class="menu-button" mat-menu-item>
        <mat-icon class="menu-icon" svgIcon="ph-light:gear-six"></mat-icon>
        <span>Settings</span>
    </button>
    <button routerLink="/account" class="menu-button" mat-menu-item>
        <mat-icon class="menu-icon" svgIcon="ph-light:user"></mat-icon>
        <span>Profile</span>
    </button>
    <button class="menu-button" mat-menu-item>
        <mat-icon class="menu-icon" svgIcon="ph-light:sign-out"></mat-icon>
        <span>Sign out</span>
    </button>
</mat-menu>