<header class="complex-heading">
    <h4 class="h4">{{ pageTitle}}</h4>
    @if (!simpleHeading) {
    <button matButton="filled" type="button">
        <mat-icon svgIcon="ph-light:plus"></mat-icon>
        <span>Add</span>
    </button>
    }
</header>

@if (!simpleHeading) {
<section class="complex-buttons">
    <button matButton type="button">
        <mat-icon svgIcon="ph-light:upload"></mat-icon>
        <span>Import</span>
    </button>
    <button matButton type="button">
        <mat-icon svgIcon="ph-light:download"></mat-icon>
        <span>Export</span>
    </button>
</section>
}