<header class="complex-heading">
    <h4 class="h4">{{ pageTitle}}</h4>
    <button matButton="filled" *ngIf="!simpleHeading">
        <mat-icon svgIcon="ph-light:plus"></mat-icon>
        <span>Add</span>
    </button>
</header>

<section *ngIf="!simpleHeading" class="complex-buttons">
    <button matButton>
        <mat-icon svgIcon="ph-light:upload" style="height: 20px; width: 20px"></mat-icon>
        <span>Import</span>
    </button>
    <button matButton>
        <mat-icon svgIcon="ph-light:download" style="height: 20px; width: 20px"></mat-icon>
        <span>Export</span>
    </button>
</section>