section.complex-heading {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > button[matButton='filled'] > mat-icon {
    height: 20px;
    width: 20px;
  }
}
section.complex-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--mat-header-spacing);
  padding: 1px 0 0 1px;
}
